# ----- Postgres -----
POSTGRES_DB=veg_fruit
POSTGRES_USER=veg_fruit
POSTGRES_PASSWORD=veg_fruit_password

# ----- Backend admin / JWT -----
ADMIN_LOGIN=fruit
ADMIN_PASSWORD=1234
JWT_SECRET=change_me_prod_jwt_secret
JWT_REFRESH_SECRET=change_me_prod_jwt_refresh_secret

# ----- CORS -----
# В проде поставьте ваш домен/айпи (например: http://178.172.201.107 или https://ваш-домен)
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://178.172.201.107,http://miksgoldfruct.by,http://www.miksgoldfruct.by,https://miksgoldfruct.by,https://www.miksgoldfruct.by

# ----- Web port -----
WEB_PORT=80

